
@{
    ViewBag.Title = "ManageSpecs";
    Layout = "~/Views/Shared/_Theme.cshtml";
}

<section class="breadcumb-area bg-img" style="background-image: url(/../img/bg-img/hero1-01.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">ADMIN-PANEL</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<section class="featured-properties-area section-padding-100-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading wow fadeInUp">
                    <h2>Manage Specs</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Featured Property -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="~/Content/theme/img/bg-img/feature1-01.jpg" alt="">



                    </div>
                    <!-- Property Content -->
                    <div class="property-content">

                        <div class="form-group mb-0">
                            <button type="submit" class="btn south-btn"><a href="~/BackCamera/Create">Add Back Camera</a></button>
                        </div>

                    </div>


                </div>
            </div>

            <!-- Single Featured Property -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="~/Content/theme/img/bg-img/feature2-01.jpg" alt="">



                    </div>
                    <!-- Property Content -->
                    <div class="property-content">


                        <div class="form-group mb-0">
                            <button type="submit" class="btn south-btn"><a href="~/FrontCamera/Create">Add Front Camera</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Featured Property -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="~/Content/theme/img/bg-img/feature4-01.jpg" alt="">



                    </div>
                    <!-- Property Content -->
                    <div class="property-content">


                        <div class="form-group mb-0">
                            <button type="submit" class="btn south-btn"><a href="~/Connectivity/Create">Add frequency</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="~/Content/theme/img/bg-img/feature1-01.jpg" alt="">



                    </div>
                    <!-- Property Content -->
                    <div class="property-content">

                        <div class="form-group mb-0">
                            <button type="submit" class="btn south-btn"><a href="~/Back_Camera/Create">Add connectivity</a></button>
                        </div>

                    </div>


                </div>
            </div>

            <!-- Single Featured Property -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="~/Content/theme/img/bg-img/feature2-01.jpg" alt="">



                    </div>
                    <!-- Property Content -->
                    <div class="property-content">


                        <div class="form-group mb-0">
                            <button type="submit" class="btn south-btn"><a href="~/Display/Create">Add Display</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Featured Property -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="~/Content/theme/img/bg-img/feature4-01.jpg" alt="">



                    </div>
                    <!-- Property Content -->
                    <div class="property-content">


                        <div class="form-group mb-0">
                            <button type="submit" class="btn south-btn"><a href="~/RAM/Create">Add RAM</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="~/Content/theme/img/bg-img/feature1-01.jpg" alt="">



                    </div>
                    <!-- Property Content -->
                    <div class="property-content">

                        <div class="form-group mb-0">
                            <button type="submit" class="btn south-btn"><a href="~/ROM/Create">Add Processor</a></button>
                        </div>

                    </div>


                </div>
            </div>

            <!-- Single Featured Property -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="~/Content/theme/img/bg-img/feature2-01.jpg" alt="">



                    </div>
                    <!-- Property Content -->
                    <div class="property-content">


                        <div class="form-group mb-0">
                            <button type="submit" class="btn south-btn"><a href="~/OperatinSystem/Create">Add OS</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Featur<div class="form-group mb-0">
                                    <button type="submit" class="btn south-btn"> Add</button>
                                </div>ed Property -->

        </div>
    </div>

    <!-- Single Featured Property -->
    <!-- Single Featured Property -->
    <!-- Single Featured Property -->
   
</section>
<!-- Google Maps -->


